#header {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #1a76d1;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 1px 8px 5px #ccc;
  padding: 8px;
}
#content {
  margin-top: 65px;
}
.card-cont {
  display: flex;
  align-items: center;
}
